.plan_grid{
    grid-template-columns: 1fr;
}

/* lg	1024px	@media (min-width: 1024px) */
@media only screen and (min-width: 1024px)  { 
    
    .plan_grid{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 2fr 1fr;
    }
}